.TodoTemplate {
    width: 512px;
    // width가 주어진 상태에서 좌우 중앙 정렬
    margin: 6rem auto 0;
    border-radius: 4px;
    overflow: hidden;
  
    .app-title {
      background-color: #22b8cf;
      color: #fff;
      height: 4rem;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .content {
      background-color: #fff;
    }
  }